<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="dbConnection" value="Data Source=(localdb)\ProjectsV12;Initial Catalog=BookvaultrptProcessing;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FTPLogFileSourceDirectory" value="C:\DCCLogImporterFiles\ftp\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DCCLoaderLogSourceDirectory" value="C:\DCCLogImporterFiles\dccLoader" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DCCManifestLogSourceDirectory" value="C:\DCCLogImporterFiles\dccMani" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RNPackageLogFileDirectory" value="C:\DCCLogImporterFiles\rn" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EBSLoaderLogFileSource" value="C:\DCCLogImporterFiles\ebs" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PkzipExecutablePath" value="C:\Program Files (x86)\PKWARE\PKZIPW\pkzip.exe" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PkzipSavePath" value="C:\DCCLogImporterFiles\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>