<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="dbConnection" value="Data Source=tcp:bookvaultrpt.database.windows.net;Database=bookvaultrpt;Integrated Security=False;User ID=dbreadwriteexecute;Password=Sqlrwe20!7;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FTPLogFileSourceDirectory" value="C:\inetpub\logs\LogFiles\FTPSVC1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DCCLoaderLogSourceDirectory" value="C:\DCCv3\DCCLoader" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DCCManifestLogSourceDirectory" value="C:\DCCv3\DCCManifestGen" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RNPackageLogFileDirectory" value="C:\DCCv3\RNPackage" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EBSLoaderLogFileSource" value="C:\DCCv3\EBSLoader" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>