<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="dbConnection" value=""/>
    <add key="FTPLogFileSourceDirectory" value=""/>
    <add key="DCCLoaderLogSourceDirectory" value=""/>
    <add key="DCCManifestLogSourceDirectory" value=""/>
    <add key="RNPackageLogFileDirectory" value=""/>
    <add key="EBSLoaderLogFileSource" value=""/>
    <add key="PkzipExecutablePath" value="C:\Program Files (x86)\PKWARE\PKZIPW\pkzip.exe" />
    <add key="PkzipSavePath" value="C:\DCCLogImporterFiles\" />
  </appSettings>
</configuration>